<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Contato</title>
</head>
<body>
    <form action="/" method="POST">
        <!-- Campo Nome -->
        <p>
            Nome:<br>
            <input type="text" id="nome" size="30" name="nome" required>
        </p>

        <!-- Campo E-mail do usuário slk cachoeira-->
        <p>
            E-mail:<br>
            <input id="user_email" type="email" size="30" name="email" required>
        </p>

        <!-- Botões -->
        <p>
            <input type="submit" name="BTEnvia" value="Enviar">
            <input type="reset" name="BTApaga" value="Apagar">
        </p>
    </form>
    <a href="/ver">ver cadastrados</a>
</body>
</html>
